*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
/release
/app/release
keystore
.externalNativeBuild
.cxx
local.properties
.env.*
fastlane/report.xml

# IntelliJ/Android Studio
/.idea/*
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStyles/
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml
